.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing:none;
    background-image:;
    background: transparent ;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button_line {
    width: 30px;
    height: 1px;
    background: white ;
}